<h1>Your profile</h1>
<div>
  <p>
    <b>Username: </b><%= @user.username %><br/>
  </p>
  <p>
    <b>Email: </b><%= @user.email %><br/>
  </p>
  <p>
    <b>Role: </b><%= @user.role.rolename %><br/>
  </p>
</div>