<!DOCTYPE html>
<html>
<head>
  <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
</head>
<body>
<p>
  Your question: <br/>
  <%= simple_format(@question.content) %>
  <br/>
  Answer: <br/>
  <%= simple_format(@question.answer) %>
</p>
<br/>
<p>Thanks for contacting us</p>
</body>
</html>