<div class="Sign_Form">
    <h2 class="User_Header"><%= t :list_of_users %></h2>
    <% @users.each do |user| %>
        <h2 class="User_Header"><%= link_to user.username, user_accounts_path(user) %></h2>
    <% end %>
</div>